section {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 1fr);

}

div {
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.542);
}

main {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

.deltaker{
    background-color: lightgray;
}
img{
   width: 50px; 
}
#tabell{
    font-size: larger;
}
body {
    display: grid;
    place-content: center;
}

.ytreRad{
    background-color: lightgray;
}

.animate{
    animation: snurr 1000ms;
}

@keyframes snurr{
    0%{rotate: 45deg;}
    12%{rotate: 90deg;}
    25%{rotate: 135deg;}
    50%{rotate: 180deg;}
    62%{rotate: 225deg;}
    75%{rotate: 270deg;}
    88%{rotate: 315deg;}
    100%{rotate: 360deg;}
}

body {
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}